{% extends 'base.html' %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for question in questions %}
                <div class="col">
                  <div class="card" style="margin: 10px">
                  <div class="card-body">
                    <h6 class="card-title">{{ question.q_text }}</h6>
                    <p class="card-text"><small class="text-body-secondary">category: {{ question.category }}</small></p>

                  </div>
                  <div class="card-footer">
                    <small class="text-body-secondary col">uploaded {{ question.pub_date|timesince }} ago</small>
                    <a href="{{ question.get_absolute_url }}" class="btn btn-secondary" style="float: right; width: 100px">view</a>
                    {% if question.author == request.user %}
                     <a href="{% url 'update_poll' question.id %}" class="btn btn-outline-secondary" style="
                     float: right; width: 70px; margin-right: 10px"
                     >edit</a>
                     <a href="{% url 'delete_poll' question.id %}" class="btn btn-outline-secondary" style="
                     float: right; width: 70px; margin-right: 10px"
                     >delete</a>
                    {% endif %}
                  </div>

                </div>
              </div>


            {% endfor %}
        </div>
        <div style="margin-top: 30px; margin-left: 20px" class="mt-5 mb-3">

            {% if questions.has_previous %}
                <a href="?page=1" style="text-decoration: none" >
                <button class="btn btn-outline-secondary">
                    &laquo;
                </button>
                </a>

                <a href="?page={{ questions.previous_page_num }}" style="text-decoration: none" >
                <button class="btn btn-outline-secondary">
                    Previous
                </button>
                </a>

            {% endif %}

                <span class="text-body-secondary">
                    page {{ questions.number }} of {{ questions.paginator.num_pages }}
                </span>

            {% if questions.has_next %}
                <a href="?page={{ questions.next_page_number }}" style="text-decoration: none" >
                <button class="btn btn-outline-secondary">
                    next
                </button>
                </a>

                <a href="?page={{ questions.paginator.num_pages }}" >
                <button class="btn btn-outline-secondary">
                    &raquo;
                </button>
                </a>
            {% endif %}

            </div>
{% endblock %}
