{% extends 'base.html' %}

{% block content %}

    {% if is_voted %}
    <div class="d-flex justify-content-center">
            <h3>You participated in this poll before</h3>
    </div><br><br>

        <div class="d-flex justify-content-center">

        <p style="display: inline; margin-right: 20px ">Click here to see the poll results</p>
        <a href="{% url 'poll_results' question.id %}" class="btn btn btn-secondary">see results</a>
        </div>
    {% else %}
    <div class="d-flex justify-content-center">
        <h3>{{ question.q_text }}</h3>
    </div>
    <br><br>
    <form action="" method="post">{% csrf_token %}
        <div class="container">
            <div class="row row-cols-2">
            {% for choice in question.choices.all %}
                <div class="col" style="padding: 18px; margin-top: 7px; border-left: 1px solid #333; border-radius: 3px;">
                    <input type="radio" name="voted" id="{{ choice.id }}" value="{{ choice.id }}">
                    <label for="{{ choice.id }}">{{ choice.c_text }}</label>
                </div>
            {% endfor %}
            </div>
            {% if request.user.is_authenticated %}
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-outline-secondary" style="margin-top: 20px;">submit</button>
            {% else %}
                <p class="mt-5 mb-3 text-body-secondary">you have to login first to be able to vote</p>
            </div>
            {% endif %}
        </div>
    </form>
    {% endif %}

{% endblock %}
